:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

mat-radio-group mat-radio-button {
    margin: 5px;
}

.center-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example-card {
    max-width: 400px;
    margin: 0 15px;
}

.example-header-image {
    background-size: cover;
}

mat-card-actions {
    text-align: center;
}

mat-card-actions button {
    display: inline-block;
}

.candidate-div {
    display: flex;
    flex-direction: row;
    margin-top: 10px !important;
}