<mat-card>
    <mat-card-title *ngIf="election && election.info && election.info.title">
        {{ election.info.title }}
    </mat-card-title>
    <mat-card-title *ngIf="!election || !election.info || !election.info.title">
        Voting
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="voteId != null">
            <p>Thanks for your vote! Vote-ID: {{voteId}}</p>
        </div>

        <div *ngIf="election != null && voteId == null">
            <mat-radio-group [(ngModel)]="selectedCandidate">
                <mat-radio-button *ngFor="let candidate of election.candidates" [value]="candidate">
                    <!--<img [src]="candidate.photo" width="50px">-->
                    {{candidate.first_name}} {{candidate.last_name}}
                </mat-radio-button>
            </mat-radio-group>
            <div class="center-stuff" *ngIf="selectedCandidate != null">
                <p>
                    You selected {{selectedCandidate.first_name}} {{selectedCandidate.last_name}}!
                </p>
                <button mat-raised-button (click)="vote()">Vote</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>